<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <p class="u-spacer--tiny">
        {{#if status.isSelecting}}
          <strong>Kiez een van de aanwezigen die passen bij</strong>
          <br>
          <em>{{currentValue}}</em>
        {{/if}}
        {{#if status.isCreatingPerson}}
          <strong>Creër een niewe persoon</strong>
        {{/if}}
        {{#if status.isCreatingMembership}}
          <strong>Creër een niewe lidmaatschap</strong>
        {{/if}}
      </p>
    </div>
  </div>
</div>

<div class="modal-dialog__content">

  <button {{action "setStatus" "isSelecting"}}
    class="px-3 py-1 font-bold 
          {{if status.isSelecting "bg-gray-300 text-black rounded-tr rounded-tl" "text-gray-300 hover:text-teal-500"}}">
    Kiez
  </button>
  <button {{action "setStatus" "isCreatingPerson"}}
    class="px-3 py-1 font-bold 
          {{if status.isCreatingPerson "bg-gray-300 text-black rounded-tr rounded-tl" "text-gray-300 hover:text-teal-500"}}">
    <i class="plus icon"></i>Persoon
  </button>
  <button {{action "setStatus" "isCreatingMembership"}}
    class="px-3 py-1 font-bold 
          {{if status.isCreatingMembership "bg-gray-300 text-black rounded-tr rounded-tl" "text-gray-300 hover:text-teal-500"}}">
    <i class="plus icon"></i>Lidmaatschap
  </button>

  <div class="bg-gray-300 p-2 text-black">
    {{#if status.isSelecting}}
      {{#if candidateAttendees.length}}
        <ul class="w-full">
          {{!-- TODO: Take care of pagination --}}
          {{#each candidateAttendees as |membership|}}
            <li {{action (mut selectedMembership) membership}} role="button"
                class="link-list__item px-2 py-1 hover:bg-teal-600 hover:text-white w-full text-left rounded flex {{if (eq selectedMembership membership) "text-white bg-teal-600"}}">
              <span class="flex-1">{{membership.member.firstname}} {{membership.member.lastname}}</span>
              <span class="flex-none font-light">{{membership.role.label}}</span>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div>
          {{#if searchAttendees.isRunning}}
            Aan het zoeken
          {{else}}
            Geen enkele aanwezig past bij <em>{{currentValue}}</em>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}

    {{#if status.isCreatingPerson}}
      <div class="flex flex-col">
        <div class="flex mb-1 items-center">
          <label class="w-24">Fisrtname</label>
          <Input @value={{newFirstname}} placeholder="First name" class="flex-1 p-1" />
        </div>
        <div class="flex mb-2 items-center">
          <label class="w-24">Lastname</label>
          <Input @value={{newLastname}} placeholder="Last name" class="flex-1 p-1" />
        </div>
        {{!-- Organization selection menu --}}
        <select onchange={{action "setOrganization"}}
                class="flex-1 mr-1 bg-gray-700 text-white mb-2">
          <option disabled selected value> -- Kiez een organisatie -- </option>
          {{#each organizations as |organization|}}
            <option value={{organization.id}}>{{organization.title}}</option>
          {{/each}}
        </select>
        <button {{action "createPerson"}}
          class="ml-2 p-1  border-2 border-gray-800 rounded
                 bg-white hover:bg-gray-800
                 text-gray-800 hover:text-white"
          disabled={{not readyToCreatePerson}}>
          Creër
        </button>
      </div>
    {{/if}}

    {{#if status.isCreatingMembership}}
      <div class="flex items-stretch">
        {{!-- Person selection menu --}}
        <select onchange={{action "setPerson"}}
                class="flex-1 mr-1 bg-gray-700 text-white mb-2 h-full">
          <option disabled selected value> -- Kiez iemand -- </option>
          {{#each nonMemberPeople as |person|}}
            <option value={{person.id}}>{{person.firstname}} {{person.lastname}}</option>
          {{/each}}
        </select>

        {{!-- Role selection menu --}}
        <select onchange={{action "setRole"}}
                class="flex-1 mr-1 bg-gray-700 text-white mb-2">
          <option disabled selected value> -- Kiez een rol -- </option>
          {{#each roles as |role|}}
            <option value={{role.id}}>{{role.label}}</option>
          {{/each}}
        </select>

        <button {{action "createMembership"}}
          class="ml-2 p-1  border-2 border-gray-800 rounded
                bg-white hover:bg-gray-800
                text-gray-800 hover:text-white"
          disabled={{not readyToCreateMembership}}>
          Creër
        </button>
      </div>
    {{/if}}
  </div>
</div>

{{#if status.isSelecting}}
  <div class="modal-dialog__footer">
    {{#wu-button-group}}
      {{wu-button label="Vervangen"
        onClick=(action "insert")
        command="ctrl + j"
        commandLocation="below"}}
    {{/wu-button-group}}
  </div>
{{/if}}

{{yield}}
